@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: local('Roboto'), local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
   font-family: 'RobotoSlab';
   font-style: normal;
   font-weight: 700;
   src: local('Roboto'), local('Roboto-Bold'), url(../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf) format('truetype');
}

.swiper-container {
   width: 100vw;
   height: 30vh
}

.swiper-slide  {
   font-family: 'RobotoSlab';
   font-size: 1.4em;
   font-weight: 1000;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}

.swiper-pagination {
   font-family: 'Roboto';
   font-size: 1.2em;
}

.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	background:  #007aff;
   opacity: 1;
}
.swiper-pagination-bullet-active {
	color:#fff;
}

.swiper-pagination-bullet:hover {
   transform: translateY(-0.5em);
   transition: transform .1s;
}

#ssone {
   background: url('../images/1.jpg');
}

#sstwo {
   background: url('../images/2.jpg');
}

#ssthree {
   background: url('../images/3.jpg');
}

#ssfour {
   background: url('../images/4.jpg');
}

#ssfive {
   background: url('../images/5.jpg');
}

.textbox {
   width: 25em;
   text-align: left;
   overflow: hidden;
   margin: 0 auto;
}

.movetext {
   padding-left: -100%;
   animation: marquee 1s linear;
   -webkit-animation: marquee 1s linear;
}
     
@-webkit-keyframes marquee {
   0%   { transform: translateX(-100%, 0); }
   100% { transform: translateX(0, 0); }
}

@keyframes marquee {
   0%   { transform: translate(-100%, 0); }
   100% { transform: translate(0, 0); }
}